

.container {
    display: grid;
    grid-template-columns: repeat(3, 375px);
    grid-row-gap: 100px;
    grid-column-gap: 100px;
    margin: 100px;
}

img {
    width: 400px;
    height: 400px;
}

.test {
    display: grid;
}