.west-26-container {
    text-align: center;
}

.west-26-container h1,
.west-26-container h2,
.west-26-container p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* TableComponent.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    background-color: #ddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
}