/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  margin: 50px;
  margin-right: 100px;
  margin-left: 100px;
  border: none;
  background: white;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.tabs button.active {
  font-weight: bold;
}

.tabs button:hover {
  background-color: rgba(243, 240, 240, 0.8); 
}

.content {
  margin-top: 20px;
}

.header {
  text-align: center;
  color: black;
  background-position: right;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}