/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: rgba(222, 124, 19, 0.5);
  width: 78%;
  background-position: center;
  padding-right: 65px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tabs button {
  margin: 30px;
  margin-right: 100px;
  margin-left: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background: rgba(222, 124, 19, 0);
  padding-left: 90px;
}

.tabs button.active {
  font-weight: bold;
}

.content {
  margin-top: 10px;
}

.header {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* .logo {
  width: 800px;
  height: 500px;
} */

/* .header {
  /* text-align: center;
  color: black;
  background-position: right;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large; */
  /* height: 200px; */
/*} */