/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  margin-right: 20px;
  margin: 70px;
  border: none;
  background: white;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.tabs button.active {
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.header {
  text-align: center;
  color: black;
  /* background-image: url("/public/logo192.png"); */
  background-position: right;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  /* padding: 5px; */
  width: 100px;
  padding-top: 15px;
  /* padding-left: 20px; */
}